<div id="game-container">
    <div class="title-section">
        <div id="title">
            <h1>{{"SYNOPSIS.title_synopsis" | translate }}</h1>
        </div>

    <section>
        <p>
            {{"SYNOPSIS.part1_synopsis" | translate }}
        </p>

        <p>
           {{"SYNOPSIS.part2_synopsis" | translate }}
        </p>

        <p>
            {{"SYNOPSIS.part3_synopsis" | translate }}
        </p>

    </section>


        <div class="options">
            <div id="options-container">
                <a routerLink=" " class="button-out-options" (click)="onOption(' ')">{{"SYNOPSIS.btnout_synopsis" | translate }}</a>
            </div>
        </div>


</div>