<div id="game-container">
    <div class="title-section">
    <div id="title">
        <h1>{{"LOADGAME.title_loadgame" | translate }}</h1>
    </div>

    <section class="table">
    <ul class="table-game">
        <li>{{"LOADGAME.departure_loadgame" | translate }}</li>
    </ul>   
    <ul class="table-game">
        <li>{{"LOADGAME.departure_loadgame" | translate }}</li>
    </ul>   
    <ul class="table-game">
        <li>{{"LOADGAME.departure_loadgame" | translate }}</li>
    </ul>   
    <ul class="table-game">
        <li>{{"LOADGAME.departure_loadgame" | translate }}</li>
    </ul>   
    </section>

<div class="options">
    <div id="options-container">
        <a routerLink=" " class="button-out-options" (click)="onOption(' ')">{{"LOADGAME.btnout_loadgame" | translate }}</a>
    </div>
</div>

</div>
</div>